# Database Settings
DB_HOST=<hostname>
DB_NAME=<databasename>
DB_USER=<username>
DB_PASSWORD=<password>

# Discord Webhook URL
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/your_webhook_id/your_webhook_token

# I2C Settings
ADDR_ADS1115=0x48
ADDR_BME280=0x76
ADDR_VEML7700=0x10

# GPIO Assignments (Output)
PIN_SSR_SUB_PUMP=17
PIN_LED_WS2812=18
PIN_SSR_ROOM_FAN=27
PIN_PUMP_MAIN_A=22
PIN_PUMP_MAIN_B=10
PIN_AERATION=9
PIN_USB_RESERVE=11
PIN_FERT_PUMP_1=5
PIN_FERT_PUMP_2=6
PIN_FERT_PUMP_3=13
PIN_FERT_PUMP_4=19
PIN_COOLING_FAN=26
PIN_WATER_VALVE=21

# GPIO Assignments (Input)
PIN_LEAK_DETECT=23
PIN_WATER_CHECK=24
PIN_FLOAT_MAIN_TOP=25
PIN_FLOAT_MAIN_BOTTOM=8
PIN_FLOAT_SUB=7
PIN_FLOAT_RESERVE=12
PIN_WATER_FLOW=20

# 1-Wire
PIN_THERMOMETER=4
# 1-Wire DS18B20 固有ID 
W1_SENSOR_ID=01204c43b99b

# TDS meter Calibration
TDS_K_VALUE=1.0

# 水圧センサー・水位校正データ 
VOLTAGE_EMPTY=0.500
VOLTAGE_FULL=2.500
